*.exe
*.dll


####Folders####
Chrome Shark Unity Resources
Chrome Shark.exe
Chrome Shark_Data
MonoBleedingEdge
SourceImages
sharkwebgl/Build
Assets/Animation
Assets/Fonts
Assets/Prefabs
Assets/Sounds
Assets/Sprite
Assets/Scenes
Assets/Script/*.cs.meta
Assets/*.meta

####pdf, txt, png, doc files####
chromeSharkNotes.txt